.active {
    font-weight: bold;
}
.section-cards__header{
    width: 100%;
    background-color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
}